# Dados antigos do postgres local 
# --------------------------------
# POSTGRES_DB=edutech_db
# POSTGRES_USER=edutech_user
# POSTGRES_PASSWORD=edutech_pass
# --------------------------------

# URL de conexão do Supabase
DATABASE_PASSWORD=SenhaAqui
DATABASE_URL=postgresql+psycopg2://postgres.jomvahgsurohtklyztce:${DATABASE_PASSWORD}@aws-1-sa-east-1.pooler.supabase.com:5432/postgres?sslmode=require
